@font-face {
  font-family: 'Mona Sans';
  src:
    url('/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 20% 98%;

    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;

    --ds-gray-100: 0 0% 94%;
    --ds-gray-200: 0 0% 92%;
    --ds-gray-300: 0 0% 90%;
    --ds-gray-400: 0 0% 92%;
    --ds-gray-500: 0 0% 78%;
    --ds-gray-600: 0 0% 65%;
    --ds-gray-700: 0 0% 56%;
    --ds-gray-800: 0 0% 49%;
    --ds-gray-900: 0 0% 40%;
    --ds-gray-1000: 0 0% 9%;

    --ds-gray-100-value: 0, 0%, 10%;
    --ds-gray-200-value: 0, 0%, 12%;
    --ds-gray-300-value: 0, 0%, 16%;
    --ds-gray-400-value: 0, 0%, 18%;
    --ds-gray-500-value: 0, 0%, 27%;
    --ds-gray-600-value: 0, 0%, 53%;
    --ds-gray-700-value: 0, 0%, 56%;
    --ds-gray-800-value: 0, 0%, 49%;
    --ds-gray-900-value: 0, 0%, 63%;
    --ds-gray-1000-value: 0, 0%, 93%;
    --ds-blue-100-value: 216, 50%, 12%;
    --ds-blue-200-value: 214, 59%, 15%;
    --ds-blue-300-value: 213, 71%, 20%;
    --ds-blue-400-value: 212, 78%, 23%;
    --ds-blue-500-value: 211, 86%, 27%;
    --ds-blue-600-value: 206, 100%, 50%;
    --ds-blue-700-value: 212, 100%, 48%;
    --ds-blue-800-value: 212, 100%, 41%;
    --ds-blue-900-value: 210, 100%, 66%;
    --ds-blue-1000-value: 206, 100%, 96%;
    --ds-red-100-value: 357, 37%, 12%;
    --ds-red-200-value: 357, 46%, 16%;
    --ds-red-300-value: 356, 54%, 22%;
    --ds-red-400-value: 357, 55%, 26%;
    --ds-red-500-value: 357, 60%, 32%;
    --ds-red-600-value: 358, 75%, 59%;
    --ds-red-700-value: 358, 75%, 59%;
    --ds-red-800-value: 358, 69%, 52%;
    --ds-red-900-value: 358, 100%, 69%;
    --ds-red-1000-value: 353, 90%, 96%;
    --ds-amber-100-value: 35, 100%, 8%;
    --ds-amber-200-value: 32, 100%, 10%;
    --ds-amber-300-value: 33, 100%, 15%;
    --ds-amber-400-value: 35, 100%, 17%;
    --ds-amber-500-value: 35, 91%, 22%;
    --ds-amber-600-value: 39, 85%, 49%;
    --ds-amber-700-value: 39, 100%, 57%;
    --ds-amber-800-value: 35, 100%, 52%;
    --ds-amber-900-value: 35, 100%, 52%;
    --ds-amber-1000-value: 40, 94%, 93%;
    --ds-green-100-value: 136, 50%, 9%;
    --ds-green-200-value: 137, 50%, 12%;
    --ds-green-300-value: 136, 50%, 14%;
    --ds-green-400-value: 135, 70%, 16%;
    --ds-green-500-value: 135, 70%, 23%;
    --ds-green-600-value: 135, 70%, 34%;
    --ds-green-700-value: 131, 41%, 46%;
    --ds-green-800-value: 132, 43%, 39%;
    --ds-green-900-value: 131, 43%, 57%;
    --ds-green-1000-value: 136, 73%, 94%;
    --ds-teal-100-value: 169, 78%, 7%;
    --ds-teal-200-value: 170, 74%, 9%;
    --ds-teal-300-value: 171, 75%, 13%;
    --ds-teal-400-value: 171, 85%, 13%;
    --ds-teal-500-value: 172, 85%, 20%;
    --ds-teal-600-value: 172, 85%, 32%;
    --ds-teal-700-value: 173, 80%, 36%;
    --ds-teal-800-value: 173, 83%, 30%;
    --ds-teal-900-value: 174, 90%, 41%;
    --ds-teal-1000-value: 166, 71%, 93%;
    --ds-purple-100-value: 283, 30%, 12%;
    --ds-purple-200-value: 281, 38%, 16%;
    --ds-purple-300-value: 279, 44%, 23%;
    --ds-purple-400-value: 277, 46%, 28%;
    --ds-purple-500-value: 274, 49%, 35%;
    --ds-purple-600-value: 272, 51%, 54%;
    --ds-purple-700-value: 272, 51%, 54%;
    --ds-purple-800-value: 272, 47%, 45%;
    --ds-purple-900-value: 275, 80%, 71%;
    --ds-purple-1000-value: 281, 73%, 96%;
    --ds-pink-100-value: 335, 32%, 12%;
    --ds-pink-200-value: 335, 43%, 16%;
    --ds-pink-300-value: 335, 47%, 21%;
    --ds-pink-400-value: 335, 51%, 22%;
    --ds-pink-500-value: 335, 57%, 27%;
    --ds-pink-600-value: 336, 75%, 40%;
    --ds-pink-700-value: 336, 80%, 58%;
    --ds-pink-800-value: 336, 74%, 51%;
    --ds-pink-900-value: 341, 90%, 67%;
    --ds-pink-1000-value: 333, 90%, 96%;
    --ds-gray-alpha-100: hsla(0, 0%, 100%, 0.06);
    --ds-gray-alpha-200: hsla(0, 0%, 100%, 0.09);
    --ds-gray-alpha-300: hsla(0, 0%, 100%, 0.13);
    --ds-gray-alpha-400: hsla(0, 0%, 100%, 0.14);
    --ds-gray-alpha-500: hsla(0, 0%, 100%, 0.24);
    --ds-gray-alpha-600: hsla(0, 0%, 100%, 0.51);
    --ds-gray-alpha-700: hsla(0, 0%, 100%, 0.54);
    --ds-gray-alpha-800: hsla(0, 0%, 100%, 0.47);
    --ds-gray-alpha-900: hsla(0, 0%, 100%, 0.61);
    --ds-gray-alpha-1000: hsla(0, 0%, 100%, 0.92);
    --ds-background-100: #0a0a0a;
    --ds-background-200: #000;
    --ds-shadow-border: 0 0 0 1px hsla(0, 0%, 100%, 0.1);
    --ds-focus-border: 0 0 0 1px var(--ds-gray-alpha-600), 0px 0px 0px 4px hsla(0, 0%, 100%, 0.24);
    --ds-focus-color: var(--ds-blue-900);
    --ds-shadow-border-inset: inset 0 0 0 1px hsla(0, 0%, 100%, 0.1);

    --ds-gray-100: hsla(var(--ds-gray-100-value), 1);
    --ds-gray-200: hsla(var(--ds-gray-200-value), 1);
    --ds-gray-300: hsla(var(--ds-gray-300-value), 1);
    --ds-gray-400: hsla(var(--ds-gray-400-value), 1);
    --ds-gray-500: hsla(var(--ds-gray-500-value), 1);
    --ds-gray-600: hsla(var(--ds-gray-600-value), 1);
    --ds-gray-700: hsla(var(--ds-gray-700-value), 1);
    --ds-gray-800: hsla(var(--ds-gray-800-value), 1);
    --ds-gray-900: hsla(var(--ds-gray-900-value), 1);
    --ds-gray-1000: hsla(var(--ds-gray-1000-value), 1);
    --ds-blue-100: hsla(var(--ds-blue-100-value), 1);
    --ds-blue-200: hsla(var(--ds-blue-200-value), 1);
    --ds-blue-300: hsla(var(--ds-blue-300-value), 1);
    --ds-blue-400: hsla(var(--ds-blue-400-value), 1);
    --ds-blue-500: hsla(var(--ds-blue-500-value), 1);
    --ds-blue-600: hsla(var(--ds-blue-600-value), 1);
    --ds-blue-700: hsla(var(--ds-blue-700-value), 1);
    --ds-blue-800: hsla(var(--ds-blue-800-value), 1);
    --ds-blue-900: hsla(var(--ds-blue-900-value), 1);
    --ds-blue-1000: hsla(var(--ds-blue-1000-value), 1);
    --ds-amber-100: hsla(var(--ds-amber-100-value), 1);
    --ds-amber-200: hsla(var(--ds-amber-200-value), 1);
    --ds-amber-300: hsla(var(--ds-amber-300-value), 1);
    --ds-amber-400: hsla(var(--ds-amber-400-value), 1);
    --ds-amber-500: hsla(var(--ds-amber-500-value), 1);
    --ds-amber-600: hsla(var(--ds-amber-600-value), 1);
    --ds-amber-700: hsla(var(--ds-amber-700-value), 1);
    --ds-amber-800: hsla(var(--ds-amber-800-value), 1);
    --ds-amber-900: hsla(var(--ds-amber-900-value), 1);
    --ds-amber-1000: hsla(var(--ds-amber-1000-value), 1);
    --ds-red-100: hsla(var(--ds-red-100-value), 1);
    --ds-red-200: hsla(var(--ds-red-200-value), 1);
    --ds-red-300: hsla(var(--ds-red-300-value), 1);
    --ds-red-400: hsla(var(--ds-red-400-value), 1);
    --ds-red-500: hsla(var(--ds-red-500-value), 1);
    --ds-red-600: hsla(var(--ds-red-600-value), 1);
    --ds-red-700: hsla(var(--ds-red-700-value), 1);
    --ds-red-800: hsla(var(--ds-red-800-value), 1);
    --ds-red-900: hsla(var(--ds-red-900-value), 1);
    --ds-red-1000: hsla(var(--ds-red-1000-value), 1);
    --ds-green-100: hsla(var(--ds-green-100-value), 1);
    --ds-green-200: hsla(var(--ds-green-200-value), 1);
    --ds-green-300: hsla(var(--ds-green-300-value), 1);
    --ds-green-400: hsla(var(--ds-green-400-value), 1);
    --ds-green-500: hsla(var(--ds-green-500-value), 1);
    --ds-green-600: hsla(var(--ds-green-600-value), 1);
    --ds-green-700: hsla(var(--ds-green-700-value), 1);
    --ds-green-800: hsla(var(--ds-green-800-value), 1);
    --ds-green-900: hsla(var(--ds-green-900-value), 1);
    --ds-green-1000: hsla(var(--ds-green-1000-value), 1);
    --ds-teal-100: hsla(var(--ds-teal-100-value), 1);
    --ds-teal-200: hsla(var(--ds-teal-200-value), 1);
    --ds-teal-300: hsla(var(--ds-teal-300-value), 1);
    --ds-teal-400: hsla(var(--ds-teal-400-value), 1);
    --ds-teal-500: hsla(var(--ds-teal-500-value), 1);
    --ds-teal-600: hsla(var(--ds-teal-600-value), 1);
    --ds-teal-700: hsla(var(--ds-teal-700-value), 1);
    --ds-teal-800: hsla(var(--ds-teal-800-value), 1);
    --ds-teal-900: hsla(var(--ds-teal-900-value), 1);
    --ds-teal-1000: hsla(var(--ds-teal-1000-value), 1);
    --ds-purple-100: hsla(var(--ds-purple-100-value), 1);
    --ds-purple-200: hsla(var(--ds-purple-200-value), 1);
    --ds-purple-300: hsla(var(--ds-purple-300-value), 1);
    --ds-purple-400: hsla(var(--ds-purple-400-value), 1);
    --ds-purple-500: hsla(var(--ds-purple-500-value), 1);
    --ds-purple-600: hsla(var(--ds-purple-600-value), 1);
    --ds-purple-700: hsla(var(--ds-purple-700-value), 1);
    --ds-purple-800: hsla(var(--ds-purple-800-value), 1);
    --ds-purple-900: hsla(var(--ds-purple-900-value), 1);
    --ds-purple-1000: hsla(var(--ds-purple-1000-value), 1);
    --ds-pink-100: hsla(var(--ds-pink-100-value), 1);
    --ds-pink-200: hsla(var(--ds-pink-200-value), 1);
    --ds-pink-300: hsla(var(--ds-pink-300-value), 1);
    --ds-pink-400: hsla(var(--ds-pink-400-value), 1);
    --ds-pink-500: hsla(var(--ds-pink-500-value), 1);
    --ds-pink-600: hsla(var(--ds-pink-600-value), 1);
    --ds-pink-700: hsla(var(--ds-pink-700-value), 1);
    --ds-pink-800: hsla(var(--ds-pink-800-value), 1);
    --ds-pink-900: hsla(var(--ds-pink-900-value), 1);
    --ds-pink-1000: hsla(var(--ds-pink-1000-value), 1);

    --ds-blue-100: oklch(22.17% 0.069 259.89);
    --ds-blue-200: oklch(25.45% 0.0811 255.8);
    --ds-blue-300: oklch(30.86% 0.1022 255.21);
    --ds-blue-400: oklch(34.1% 0.121 254.74);
    --ds-blue-500: oklch(38.5% 0.1403 254.4);
    --ds-blue-600: oklch(64.94% 0.1982 251.8131841760864);
    --ds-blue-700: oklch(57.61% 0.2321 258.23);
    --ds-blue-800: oklch(51.51% 0.2307 257.85);
    --ds-blue-900: oklch(71.7% 0.1648 250.79360374054167);
    --ds-blue-1000: oklch(96.75% 0.0179 242.4234217368056);
    --ds-red-100: oklch(22.1% 0.0657 15.11);
    --ds-red-200: oklch(25.93% 0.0834 19.02);
    --ds-red-300: oklch(31.47% 0.1105 20.96);
    --ds-red-400: oklch(35.27% 0.1273 21.23);
    --ds-red-500: oklch(40.68% 0.1479 23.16);
    --ds-red-600: oklch(62.56% 0.2277 23.03);
    --ds-red-700: oklch(62.56% 0.2234 23.03);
    --ds-red-800: oklch(58.01% 0.227 25.12);
    --ds-red-900: oklch(69.96% 0.2136 22.03);
    --ds-red-1000: oklch(95.6% 0.0293 6.61);
    --ds-amber-100: oklch(22.46% 0.0538 76.04);
    --ds-amber-200: oklch(24.95% 0.0642 64.78);
    --ds-amber-300: oklch(32.34% 0.0837 63.83);
    --ds-amber-400: oklch(35.53% 0.0903 66.29707162673735);
    --ds-amber-500: oklch(41.55% 0.1044 67.98);
    --ds-amber-600: oklch(75.04% 0.1737 74.49);
    --ds-amber-700: oklch(81.87% 0.1969 76.46);
    --ds-amber-800: oklch(77.21% 0.1991 64.28);
    --ds-amber-900: oklch(77.21% 0.1991 64.28);
    --ds-amber-1000: oklch(96.7% 0.0418 84.59);
    --ds-green-100: oklch(23.09% 0.0716 149.68);
    --ds-green-200: oklch(27.12% 0.0895 150.09);
    --ds-green-300: oklch(29.84% 0.096 149.25);
    --ds-green-400: oklch(34.39% 0.1039 147.78);
    --ds-green-500: oklch(44.19% 0.1484 147.2);
    --ds-green-600: oklch(58.11% 0.1815 146.55);
    --ds-green-700: oklch(64.58% 0.199 147.27);
    --ds-green-800: oklch(57.81% 0.1776 147.5);
    --ds-green-900: oklch(73.1% 0.2158 148.29);
    --ds-green-1000: oklch(96.76% 0.056 154.18);
    --ds-teal-100: oklch(22.1% 0.0544 178.74);
    --ds-teal-200: oklch(25.06% 0.062 178.76);
    --ds-teal-300: oklch(31.5% 0.0767 180.99);
    --ds-teal-400: oklch(32.43% 0.0763 180.13);
    --ds-teal-500: oklch(43.35% 0.1055 180.97);
    --ds-teal-600: oklch(60.71% 0.1485 180.24);
    --ds-teal-700: oklch(64.92% 0.1403 181.95);
    --ds-teal-800: oklch(57.53% 0.1392 181.66);
    --ds-teal-900: oklch(74.56% 0.1765 182.8);
    --ds-teal-1000: oklch(96.46% 0.056 180.29);
    --ds-purple-100: oklch(22.34% 0.0779 316.87);
    --ds-purple-200: oklch(25.91% 0.0921 314.41);
    --ds-purple-300: oklch(31.98% 0.1219 312.41);
    --ds-purple-400: oklch(35.93% 0.1504 309.78);
    --ds-purple-500: oklch(40.99% 0.1721 307.92);
    --ds-purple-600: oklch(55.5% 0.2191 306.12);
    --ds-purple-700: oklch(55.5% 0.2186 306.12);
    --ds-purple-800: oklch(48.58% 0.2102 305.73);
    --ds-purple-900: oklch(69.87% 0.2037 309.51);
    --ds-purple-1000: oklch(96.1% 0.0304 316.46);
    --ds-pink-100: oklch(22.67% 0.0628 354.73);
    --ds-pink-200: oklch(26.2% 0.0859 356.68);
    --ds-pink-300: oklch(31.15% 0.1067 355.93);
    --ds-pink-400: oklch(32.13% 0.1174 356.71);
    --ds-pink-500: oklch(37.01% 0.1453 358.39);
    --ds-pink-600: oklch(50.33% 0.2089 4.33);
    --ds-pink-700: oklch(63.52% 0.2346 1.01);
    --ds-pink-800: oklch(59.51% 0.2429 4.21);
    --ds-pink-900: oklch(69.36% 0.2223 3.91);
    --ds-pink-1000: oklch(95.74% 0.0326 350.08);
  }

  * {
    @apply border-ds-gray-400;
  }

  html {
    @apply h-full;
    color-scheme: dark;
  }

  body {
    @apply font-sans antialiased min-h-full text-ds-gray-1000;
    background-color: var(--ds-background-200);
  }

  /* Remove arrows in Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  /* Remove arrows in Chrome, Safari, Edge, and Opera */
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
